---
// import { Icon } from 'astro-icon/components';
---

<header class="fixed top-0 w-full z-50 transition-all duration-300" id="header">
  <nav class="thenav fixed container-max w-full m-0">
    <div class="internav fixed backdrop-blur-xs bg-black/[var(--bg-opacity)] [--bg-opacity:10%] backdrop-blur-md border-b border-white/15 overflow-visible z-[99999] header-animate w-full">
      <div class="section-padding container-max flex items-center justify-between content-between grid-cols-[auto_1fr] m-auto gap-x-10 md:flex w-full py-6">
        <!-- Logo -->
        <div class="flex-shrink-0">
          <a href="/" class="flex items-center space-x-2 group" aria-label="Instalema - Inicio">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="160" viewBox="0 0 225 24" fill="none">
              <path d="M49.751 0C51.9108 1.86133e-05 53.8308 0.30974 55.5107 0.929688C57.1907 1.52968 58.521 2.38978 59.501 3.50977C60.501 4.62977 61.0411 5.93016 61.1211 7.41016H54.8203C54.7403 6.87027 54.4809 6.41023 54.041 6.03027C53.621 5.63027 53.0408 5.32988 52.3008 5.12988C51.5608 4.90989 50.6708 4.79981 49.6309 4.7998C48.2309 4.7998 47.1208 4.99012 46.3008 5.37012C45.4808 5.73012 45.0703 6.27025 45.0703 6.99023C45.0704 7.51013 45.3111 7.93005 45.791 8.25C46.291 8.56994 47.1811 8.79017 48.4609 8.91016L52.9307 9.36035C55.0706 9.56034 56.7806 9.91019 58.0605 10.4102C59.3405 10.8901 60.2706 11.56 60.8506 12.4199C61.4306 13.2799 61.7207 14.3499 61.7207 15.6299C61.7207 17.2098 61.2505 18.5896 60.3105 19.7695C59.3705 20.9295 58.0506 21.84 56.3506 22.5C54.6507 23.1399 52.6709 23.4599 50.4111 23.46C48.0911 23.46 46.0407 23.14 44.2607 22.5C42.5009 21.8401 41.1211 20.9201 40.1211 19.7402C39.1211 18.5402 38.5912 17.1596 38.5312 15.5996H44.8604C44.9603 16.2195 45.2506 16.7598 45.7305 17.2197C46.2104 17.6796 46.8506 18.0398 47.6504 18.2998C48.4704 18.5398 49.4312 18.6602 50.5312 18.6602C52.051 18.6601 53.2509 18.4698 54.1309 18.0898C55.0108 17.6898 55.4512 17.1096 55.4512 16.3496C55.4511 15.7699 55.2009 15.3199 54.7012 15C54.2012 14.68 53.2403 14.4496 51.8203 14.3096L47.6211 13.9199C44.5213 13.6399 42.2711 12.9402 40.8711 11.8203C39.4712 10.6804 38.7706 9.15025 38.7705 7.23047C38.7705 5.67047 39.2211 4.34953 40.1211 3.26953C41.0411 2.18974 42.3212 1.37977 43.9609 0.839844C45.6209 0.279886 47.5511 0 49.751 0ZM6.20996 22.9805H0V0.480469H6.20996V22.9805ZM29.3301 15.9092V0.480469H35.3604V22.9805H27.5303L16.4307 7.16309V22.9805H10.4004V0.480469H18.4404L29.3301 15.9092ZM85.9131 6H77.333V22.9805H71.0928V6H62.5127V0.480469H85.9131V6ZM111.57 22.9805H104.94L103.074 18.6602H91.4229L89.5498 22.9805H82.9199L93.1504 0.480469H101.34L111.57 22.9805ZM119.911 17.46H133.951V22.9805H113.701V0.480469H119.911V17.46ZM156.682 5.51953H142.59L143.235 9.48047H155.842V13.9805H143.235L142.59 17.9404H156.831V22.9805H135.921L137.631 11.7305L135.921 0.480469H156.682V5.51953ZM176.895 16.916L183.71 0.480469H193.31V22.9805H187.399V5.9043L180.02 22.9805H173.72L166.34 6.01465V22.9805H160.43V0.480469H170.029L176.895 16.916ZM224.1 22.9805H217.47L215.604 18.6602H203.952L202.079 22.9805H195.449L205.68 0.480469H213.869L224.1 22.9805ZM206.124 13.6504H213.438L209.787 5.19922L206.124 13.6504ZM93.5947 13.6504H100.909L97.2578 5.19922L93.5947 13.6504Z" fill="white"/>
            </svg> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="160" viewBox="0 0 224 25" fill="none">
              <path d="M6.02 1.47998H0.2C0.0895431 1.47998 0 1.56952 0 1.67998V23.8C0 23.9104 0.0895431 24 0.2 24H6.02C6.13046 24 6.22 23.9104 6.22 23.8V1.67998C6.22 1.56952 6.13046 1.47998 6.02 1.47998Z" fill="white"/>
              <path d="M29.01 16.41L19.11 2.38998C18.71 1.81998 18.05 1.47998 17.35 1.47998H12.57C11.38 1.47998 10.42 2.43998 10.42 3.62998V23.8C10.42 23.91 10.51 24 10.62 24H16.26C16.37 24 16.46 23.91 16.46 23.8V8.79998C16.46 8.59998 16.71 8.52998 16.82 8.68998L26.93 23.09C27.33 23.66 27.99 24.01 28.69 24.01H33.25C34.44 24.01 35.4 23.05 35.4 21.86V1.67998C35.4 1.56998 35.31 1.47998 35.2 1.47998H29.56C29.45 1.47998 29.36 1.56998 29.36 1.67998V16.3C29.36 16.5 29.11 16.57 29 16.42L29.01 16.41Z" fill="white"/>
              <path d="M93.23 1.59998L83.17 23.72C83.11 23.85 83.21 24 83.35 24H89.55C89.63 24 89.7 23.95 89.73 23.88L91.5 19.8C91.53 19.73 91.6 19.68 91.68 19.68H103.08C103.16 19.68 103.23 19.73 103.26 19.8L105.02 23.88C105.05 23.95 105.12 24 105.2 24H111.4C111.55 24 111.64 23.85 111.58 23.72L101.54 1.59998C101.51 1.52998 101.44 1.47998 101.36 1.47998H93.42C93.34 1.47998 93.27 1.52998 93.24 1.59998H93.23ZM93.85 14.39L97.21 6.62998C97.28 6.46998 97.51 6.46998 97.58 6.62998L100.93 14.39C100.99 14.52 100.89 14.67 100.75 14.67H94.04C93.9 14.67 93.8 14.52 93.86 14.39H93.85Z" fill="white"/>
              <path d="M120.51 1.47998H114.69C114.58 1.47998 114.49 1.56998 114.49 1.67998V23.8C114.49 23.91 114.58 24 114.69 24H134.56C134.67 24 134.76 23.91 134.76 23.8V18.67C134.76 18.56 134.67 18.47 134.56 18.47H120.9C120.79 18.47 120.7 18.38 120.7 18.27V1.67998C120.7 1.56998 120.61 1.47998 120.5 1.47998H120.51Z" fill="white"/>
              <path d="M145.19 15.09H153.46C153.54 15.09 153.61 15.04 153.64 14.97L155.6 10.67C155.66 10.54 155.56 10.39 155.42 10.39H145.19C145.08 10.39 144.99 10.3 144.99 10.19V6.71998C144.99 6.60998 145.08 6.51998 145.19 6.51998H158.9C159.01 6.51998 159.1 6.42998 159.1 6.31998V1.67998C159.1 1.56998 159.01 1.47998 158.9 1.47998H138.52C138.41 1.47998 138.32 1.56998 138.32 1.67998V23.8C138.32 23.91 138.41 24 138.52 24H159.05C159.16 24 159.25 23.91 159.25 23.8V19.15C159.25 19.04 159.16 18.95 159.05 18.95H145.19C145.08 18.95 144.99 18.86 144.99 18.75V15.28C144.99 15.17 145.08 15.08 145.19 15.08V15.09Z" fill="white"/>
              <path d="M179.15 17.49L172.51 1.59998C172.48 1.52998 172.41 1.47998 172.33 1.47998H163.05C162.94 1.47998 162.85 1.56998 162.85 1.67998V23.8C162.85 23.91 162.94 24 163.05 24H168.57C168.68 24 168.77 23.91 168.77 23.8V7.97998C168.77 7.75998 169.07 7.69998 169.15 7.89998L176.1 23.88C176.13 23.95 176.2 24 176.28 24H182.32C182.4 24 182.47 23.95 182.5 23.88L189.45 7.78998C189.54 7.58998 189.83 7.64998 189.83 7.86998V23.8C189.83 23.91 189.92 24 190.03 24H195.55C195.66 24 195.75 23.91 195.75 23.8V1.67998C195.75 1.56998 195.66 1.47998 195.55 1.47998H186.27C186.19 1.47998 186.12 1.52998 186.09 1.59998L179.5 17.49C179.43 17.65 179.2 17.65 179.13 17.49H179.15Z" fill="white"/>
              <path d="M217.36 24H223.55C223.7 24 223.79 23.85 223.73 23.72L213.68 1.59998C213.65 1.52998 213.58 1.47998 213.5 1.47998H200.02C199.91 1.47998 199.82 1.56998 199.82 1.67998V23.8C199.82 23.91 199.91 24 200.02 24H205.69C205.8 24 205.89 23.91 205.89 23.8V19.88C205.89 19.77 205.98 19.68 206.09 19.68H215.24C215.32 19.68 215.39 19.73 215.42 19.8L217.18 23.88C217.21 23.95 217.28 24 217.36 24ZM205.89 14.46V6.40998C205.89 6.29998 205.98 6.20998 206.09 6.20998H209.41C209.49 6.20998 209.56 6.25998 209.59 6.32998L213.07 14.39C213.13 14.52 213.03 14.67 212.89 14.67H206.08C205.97 14.67 205.88 14.58 205.88 14.47L205.89 14.46Z" fill="white"/>
              <path d="M60.94 13.43C60.36 12.57 59.43 11.89 58.15 11.4C56.87 10.91 55.16 10.56 53.01 10.36L48.53 9.90998C47.25 9.78998 46.36 9.56998 45.87 9.24998C45.38 8.92998 45.13 8.50998 45.13 7.98998C45.13 7.26998 45.54 6.71998 46.36 6.34998C47.18 5.97998 48.29 5.78998 49.69 5.78998C50.73 5.78998 51.62 5.88998 52.36 6.10998C53.06 6.30998 53.62 6.58998 54.05 6.94998C54.08 6.97998 54.12 6.98998 54.17 6.98998H60.67C60.81 6.98998 60.91 6.84998 60.87 6.72998C60.61 5.91998 60.19 5.17998 59.59 4.49998C58.6 3.37998 57.26 2.50998 55.58 1.89998C53.9 1.28998 51.98 0.97998 49.81 0.97998C47.64 0.97998 45.68 1.25998 44.03 1.80998C42.38 2.35998 41.1 3.17998 40.19 4.25998C39.28 5.33998 38.82 6.65998 38.82 8.21998C38.82 10.14 39.52 11.67 40.92 12.8C42.32 13.93 44.57 14.64 47.68 14.92L51.88 15.31C53.3 15.45 54.26 15.68 54.76 16C55.26 16.32 55.51 16.77 55.51 17.35C55.51 18.11 55.07 18.69 54.19 19.08C53.31 19.47 52.11 19.67 50.59 19.67C49.49 19.67 48.53 19.55 47.72 19.29C46.91 19.04 46.26 18.68 45.78 18.22C45.34 17.8 45.06 17.31 44.94 16.75C44.92 16.66 44.85 16.59 44.75 16.59H38.79C38.67 16.59 38.58 16.69 38.58 16.81C38.68 18.28 39.21 19.59 40.16 20.72C41.16 21.91 42.55 22.83 44.32 23.48C46.09 24.13 48.14 24.46 50.46 24.46C52.78 24.46 54.7 24.13 56.41 23.48C58.12 22.83 59.43 21.92 60.37 20.75C61.31 19.58 61.78 18.2 61.78 16.62C61.78 15.34 61.49 14.27 60.91 13.41L60.94 13.43Z" fill="white"/>
              <path d="M60.99 1.47998V1.50998C61.56 1.94998 62.11 2.47998 62.63 3.11998C63.5 4.18998 64.26 5.48998 64.93 6.99998H71.01C71.12 6.99998 71.21 7.08998 71.21 7.19998V23.8C71.21 23.91 71.3 24 71.41 24H77.26C77.37 24 77.46 23.91 77.46 23.8V7.20998C77.46 7.09998 77.55 7.00998 77.66 7.00998H83.95C84.03 7.00998 84.1 6.95998 84.13 6.88998L86.47 1.75998C86.53 1.62998 86.43 1.47998 86.29 1.47998H60.99Z" fill="white"/>
            </svg>
          </a>
        </div>

        <!-- Desktop Navigation -->
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-8 text-white">
            <!-- <a href="/" class="nav-link" aria-label="Inicio">Inicio</a> -->
            <a href="/servicios" class="nav-link" aria-label="Servicios">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none"><path d="M3.30769 6.84615H2.15385C1.84783 6.84615 1.55434 6.96772 1.33795 7.18411C1.12157 7.4005 1 7.69398 1 8V9.73077C1 10.0368 1.12157 10.3303 1.33795 10.5467C1.55434 10.763 1.84783 10.8846 2.15385 10.8846H3.30769C3.4607 10.8846 3.60744 10.8238 3.71564 10.7156C3.82383 10.6074 3.88462 10.4607 3.88462 10.3077V7.42308C3.88462 7.27007 3.82383 7.12332 3.71564 7.01513C3.60744 6.90694 3.4607 6.84615 3.30769 6.84615ZM3.30769 6.84615V5.69231C3.30769 4.31522 3.85474 2.99454 4.82848 2.02079C5.80223 1.04705 7.12291 0.5 8.5 0.5C9.87709 0.5 11.1978 1.04705 12.1715 2.02079C13.1453 2.99454 13.6923 4.31522 13.6923 5.69231V6.84615M13.6923 10.8846H14.8462C15.1522 10.8846 15.4457 10.763 15.662 10.5467C15.8784 10.3303 16 10.0368 16 9.73077V8C16 7.69398 15.8784 7.4005 15.662 7.18411C15.4457 6.96772 15.1522 6.84615 14.8462 6.84615H13.6923M13.6923 10.8846C13.5393 10.8846 13.3926 10.8238 13.2844 10.7156C13.1762 10.6074 13.1154 10.4607 13.1154 10.3077V7.42308C13.1154 7.27007 13.1762 7.12332 13.2844 7.01513C13.3926 6.90694 13.5393 6.84615 13.6923 6.84615M13.6923 10.8846V11.75C13.6923 12.362 13.4492 12.949 13.0164 13.3818C12.5836 13.8146 11.9967 14.0577 11.3846 14.0577M11.3846 14.0577C11.3846 13.6752 11.2327 13.3083 10.9622 13.0378C10.6917 12.7673 10.3248 12.6154 9.94231 12.6154H8.21154C7.82901 12.6154 7.46216 12.7673 7.19167 13.0378C6.92119 13.3083 6.76923 13.6752 6.76923 14.0577C6.76923 14.4402 6.92119 14.8071 7.19167 15.0776C7.46216 15.348 7.82901 15.5 8.21154 15.5H9.94231C10.3248 15.5 10.6917 15.348 10.9622 15.0776C11.2327 14.8071 11.3846 14.4402 11.3846 14.0577ZM6.76923 4.53846V6.26923M10.2308 4.53846V6.26923M6.76923 8.57692C6.76923 10.1115 10.2308 10.1115 10.2308 8.57692" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg> Servicios</a>
            <a href="/sobre-nosotros" class="nav-link" aria-label="Sobre nosotros">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none"><path d="M4.69231 9.15385C5.26923 11.2308 7.57692 12.5 9.65385 11.9231C10.9231 11.4615 11.9615 10.4231 12.3077 9.15385M16 8C16 12.1421 12.6421 15.5 8.5 15.5C4.35786 15.5 1 12.1421 1 8C1 3.85786 4.35786 0.5 8.5 0.5C12.6421 0.5 16 3.85786 16 8ZM5.96154 6.15385C5.83409 6.15385 5.73077 6.05053 5.73077 5.92308C5.73077 5.79563 5.83409 5.69231 5.96154 5.69231C6.08899 5.69231 6.19232 5.79563 6.19232 5.92308C6.19232 6.05053 6.08899 6.15385 5.96154 6.15385ZM11.0385 6.15385C10.911 6.15385 10.8077 6.05053 10.8077 5.92308C10.8077 5.79563 10.911 5.69231 11.0385 5.69231C11.1659 5.69231 11.2692 5.79563 11.2692 5.92308C11.2692 6.05053 11.1659 6.15385 11.0385 6.15385Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
              Sobre nosotros</a>
            <!-- <a href="/ubicacion" class="nav-link" aria-label="Ubicación">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none"><path d="M14.2719 0.535682C14.4695 0.459683 14.6935 0.507355 14.8432 0.657055C14.9929 0.806755 15.0405 1.03075 14.9645 1.22834L9.60741 15.1569C9.5262 15.3679 9.32072 15.5052 9.09472 15.5001C8.86882 15.4948 8.67023 15.3483 8.59876 15.1339L6.54066 8.95957L0.36635 6.90147C0.151958 6.83 0.00543229 6.63141 0.000139134 6.40551C-0.00499478 6.1795 0.132364 5.97403 0.343331 5.89282L14.2719 0.535682ZM2.12207 6.35634L7.13392 8.0273L7.24692 8.08067C7.35212 8.14597 7.43296 8.2464 7.47293 8.36631L9.14285 13.3771L13.5311 1.96809L2.12207 6.35634Z" fill="currentColor"/></svg>
              Ubicación</a> -->
            <a href="/contacto" class="nav-link" aria-label="Contacto">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M8 1.22465e-06C9.20376 -0.000664999 10.3921 0.270502 11.4766 0.79297C12.5612 1.31557 13.5139 2.07651 14.2637 3.01856C15.0133 3.9605 15.5408 5.05929 15.8066 6.2334C16.0724 7.40756 16.0697 8.62681 15.7988 9.79981C15.5279 10.9729 14.996 12.07 14.2422 13.0088C13.4884 13.9476 12.5322 14.7038 11.4453 15.2217C10.3584 15.7395 9.1688 16.006 7.96484 16C6.81775 15.9943 5.68738 15.7388 4.64746 15.2578L0.588863 15.9922C0.411886 16.0241 0.231438 15.9584 0.116207 15.8203C0.000961736 15.6821 -0.0310752 15.4927 0.0322224 15.3242L1.20117 12.2119C0.486451 11.0578 0.0764779 9.73962 0.0117146 8.38086C-0.0571557 6.93544 0.26694 5.49826 0.950191 4.22266C1.63347 2.94704 2.65018 1.88032 3.8916 1.13672C5.13297 0.393208 6.55299 0.000451674 8 1.22465e-06ZM8 1C6.73385 1.00042 5.49147 1.3445 4.40527 1.99512C3.31924 2.64568 2.42987 3.57842 1.83203 4.69434C1.23418 5.81047 0.950499 7.06828 1.01074 8.33301C1.071 9.59775 1.47257 10.8227 2.17382 11.877C2.26286 12.0108 2.28214 12.1796 2.22558 12.3301L1.27734 14.8506L4.62304 14.2461L4.70117 14.2383C4.78022 14.2366 4.85892 14.2541 4.93066 14.2891C5.87717 14.7516 6.91626 14.9948 7.96972 15C9.02319 15.0052 10.0646 14.7725 11.0156 14.3193C11.9666 13.8662 12.8033 13.2042 13.4629 12.3828C14.1224 11.5614 14.5881 10.6016 14.8252 9.5752C15.0622 8.54876 15.0646 7.48156 14.832 6.4541C14.5994 5.42674 14.1374 4.46483 13.4814 3.64063C12.8255 2.81647 11.9919 2.15059 11.043 1.69336C10.0939 1.23612 9.05344 0.999379 8 1ZM5.32714 7.6543C5.3269 8.24886 4.84461 8.73047 4.25 8.73047C3.65538 8.73047 3.17309 8.24886 3.17285 7.6543C3.17285 7.05953 3.65523 6.57715 4.25 6.57715C4.84476 6.57715 5.32714 7.05953 5.32714 7.6543ZM9.07714 7.6543C9.0769 8.24886 8.59461 8.73047 8 8.73047C7.40538 8.73047 6.92309 8.24886 6.92285 7.6543C6.92285 7.05953 7.40523 6.57715 8 6.57715C8.59476 6.57715 9.07714 7.05953 9.07714 7.6543ZM12.8271 7.6543C12.8269 8.24886 12.3446 8.73047 11.75 8.73047C11.1554 8.73047 10.6731 8.24886 10.6728 7.6543C10.6728 7.05953 11.1552 6.57715 11.75 6.57715C12.3448 6.57715 12.8271 7.05953 12.8271 7.6543Z" fill="currentColor"/></svg>
              Contacto</a>
          </div>
        </div>

        <!-- CTA Button -->
        <div class="hidden md:block transition-all duration-300 shadow-lg hover:shadow-xl transform hover:scale-105 focus:ring-4">
          <a href="tel:+34123456789" class="btn-primary flex items-center justify-center gap-2">
            <svg class="w-5 text-dark-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path></svg> Llamar ahora
          </a>
        </div>

        <!-- Mobile menu button -->
        <div class="md:hidden">
          <button type="button" class="mobile-menu-button text-white hover:text-primary-500 transition-colors" aria-label="Abrir menú de navegación">
            <!-- Ícono hamburguesa -->
            <svg class="icon-burger h-6 w-6 block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!-- Ícono cruz -->
            <svg class="icon-close h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile Navigation -->
    <div class="mobile-menu hidden md:hidden w-full">
      <div class="flex flex-col gap-3 pt-20 pl-8 pr-4 pb-8 space-y-1 bg-black/[var(--bg-opacity)] [--bg-opacity:10%] backdrop-blur-md rounded-lg mt-2 w-full h-screen">
        <a href="/" class="mobile-nav-link">Inicio</a>
        <a href="/servicios" class="mobile-nav-link">Servicios</a>
        <a href="/sobre-nosotros" class="mobile-nav-link">Sobre nosotros</a>
        <!-- <a href="/ubicacion" class="mobile-nav-link">Ubicación</a> -->
        <a href="/contacto" class="mobile-nav-link">Contacto</a>
        <div class="pt-4">
          <a href="tel:+34123456789" class="btn-primary w-full text-center">
            Llamar ahora
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  .nav-link {
    @apply text-white hover:text-primary-500 flex items-center gap-2 px-1 py-2 text-base font-medium transition-colors relative;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: theme('colors.primary.500');
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }
  
  .nav-link:hover::after {
    width: 100%;
  }

  @media (max-width: 767px) {
    .thenav {
      display: flex;
      justify-content: center;
      margin-top: 3%;
    }
    .internav {
      width: 95%;
      border-radius: 10px;
      border: none;
      padding: 0 1rem;
    }
  }
  .mobile-nav-link {
    @apply text-white hover:text-primary-500 block px-3 py-2 text-base font-medium transition-colors;
  }

  .mobile-menu {
    animation: slideDown 0.3s ease-out;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>

<script>
  // Mobile menu toggle
  const mobileMenuButton = document.querySelector('.mobile-menu-button');
  const mobileMenu = document.querySelector('.mobile-menu');
  const iconBurger = document.querySelector('.icon-burger');
  const iconClose = document.querySelector('.icon-close');

  mobileMenuButton?.addEventListener('click', () => {
    // Alternar menú
    mobileMenu?.classList.toggle('hidden');

    // Alternar iconos
    iconBurger?.classList.toggle('hidden');
    iconClose?.classList.toggle('hidden');
  });

  // Header background on scroll
  // const header = document.getElementById('header');
  
  // window.addEventListener('scroll', () => {
  //   if (window.scrollY > 50) {
  //     header?.classList.add('bg-white/95');
  //     header?.classList.remove('bg-white/10');
  //   } else {
  //     header?.classList.remove('bg-white/95');
  //     header?.classList.add('bg-white/10');
  //   }
  // });

  // Close mobile menu when clicking outside
  // document.addEventListener('click', (e) => {
  //   if (!e.target.closest('nav')) {
  //     mobileMenu?.classList.add('hidden');
  //   }
  // });
</script>